.container {
	padding: 20px;
}

.Header h1 {
	display: flex;
	justify-content: center;
	border: solid;
	border-bottom: transparent;
	margin: 0;
	padding: 15px
}

.Section {
	display: flex;
	justify-content: space-between;
}

.Section__half1 {
	/*display: inline-block;*/
	border: solid;
}

.Section__half1 h5 {
	float: right;
	background-color: gray;
	margin: 0px;
	margin-right: -15px;
	padding: 10px;
}

.Section__half2 {
	/*display: inline-block;*/
	border: solid;
	border-left: transparent;
}

.Section .box {
	padding: 15px;
}

@media (max-width: 600px) {
	.Section {
		flex-direction: column;
	}
	.Section__half2 {
		border: solid;
		border-left: solid;
		border-top: transparent;
	}
}
